@media screen and (min-width: 740px) {
    /* HTML Selectors */
    header {
        padding-left: 50px;
    }

    /* Class Selectors */
    .infoFlexBox {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }

    .navigation {
		display: flex;
        justify-content: end;   
        column-gap: 50px;
        padding: 0px 50px;
	}

    .navigation a {
        display: block;
        float: left;
    }

    .vl {
        display: block;
    }

    /* ID Selectors */
    #banner {
        width: 40%;
    }

    #footer-infobox {
        display: flex;
        justify-content: center;
    }

    #forecast {
        display: flex;
    }

    #hero {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1/3;
        border-bottom: solid var(--secondary-color) 5px;
    }

    #hero-img {
        display: block;
        border-bottom: none;
        object-fit: cover;
        height: 350px;
    }

    #menu {
        display: none;
    }

    .switch {
        top: 0.85rem;
    }
}   

