@media screen and (min-width: 740px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem
        ;
    }
    main section:nth-child(3) {
		grid-column: span 2;
	}
    .infoFlexBox {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }
}