/* Universal Selector */
* {
    box-sizing: border-box;
}

/* HTML Selectors */
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background: lightblue;
    padding: 10px;
    margin-top: 40px;
}

header {
    display: flex;
    padding: 12px;
    justify-content: center;
    background: lightblue;
    max-height: 100px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 0.5em 0;
    padding: 0;
}

h1 {
    margin: auto 20px;
}

h3 {
    margin: auto auto;
    padding: 20px 20px;
    background: lightblue;
}

header img {
    max-height: fit-content;
    max-width: 46px;
}

main {
    display: grid;
    max-width: 1024px;
    margin: auto;
    grid-template-rows: 1fr auto;
    padding: 0px 16px;
}

/* Class Selectors */
.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0px;
    overflow: hidden;
}

.card ul {
    list-style-type: none;
    margin: 0px 0px;
    padding: 20px 20px;
    text-align: left;
}

.card a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: fit-content;
    border-bottom: solid 5px lightblue;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, lightblue);
    border: 2px solid rgba(0, 0, 50, .75);
    border-radius: 10px;
    padding: 1.5rem;
    opacity: 0.90;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Roboto", serif;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.navigation a {
    display: none;
    text-decoration: none;
    text-align: center;
    padding: 20px 0px;
    background: black;
    color: white;
}

.navigation a:hover {
    text-decoration: underline;
}

.open a {
    display: block;
}

/* ID Selectors */
#active::before {
    content: ">| ";
}

#active::after {
    content: " |<";
}

#active {
    color: rgb(255, 255, 0);
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 4px 8px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    border-radius: 10px;
}

#map {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto auto;
    width: 100%;
    overflow: hidden;
    border: 0;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#lastModified {
    color: #750000;
}